<div class="example-container">
  <mat-table #table [dataSource]="dataSource" matSort>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <ng-container matColumnDef="Vaccination_Date" sticky>
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Vaccination_Date | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="First_Doses">
      <mat-header-cell *matHeaderCellDef mat-sort-header> First Doses </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.First_Doses}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Second_Doses">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Second Doses </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Second_Doses}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Total_Doses">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Total_Doses}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cumulative_First_Doses">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cumulative First Doses </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Cumulative_First_Doses}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cumulative_Second_Doses">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cumulative Second Doses </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Cumulative_Second_Doses}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Cumulative_Total_Doses">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cumulative Total Doses </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.Cumulative_Total_Doses}} </mat-cell>
    </ng-container>
  </mat-table>
</div>