
<table id="table" border="1">
  <tr>
    <td>Vaccination_Date</td>
    <td>First_Doses</td>
    <td>Second_Doses</td>
    <td>Total_Doses</td>
    <td>Cumulative_First_Doses</td>
    <td>Cumulative_Second_Doses</td>
    <td>Cumulative_Total_Doses</td>
  </tr>
  <tr *ngFor="let r of data">
    <td>{{r.Vaccination_Date}}</td>
    <td>{{r.First_Doses}}</td>
    <td>{{r.Second_Doses}}</td>
    <td>{{r.Total_Doses}}</td>
    <td>{{r.Cumulative_First_Doses}}</td>
    <td>{{r.Cumulative_Second_Doses}}</td>
    <td>{{r.Cumulative_Total_Doses}}</td>
  </tr>
</table>
